<!DOCTYPE html>
<html>
<head>
  <title>RubyLab6</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css' %>
  <link>
</head>

<body>
  <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
    <h4 class="my-0 mr-md-auto"><%= link_to "Главная страница прекрасного сайта", home_path %></h4>
    <span class="btn btn-outline-primary"><%= link_to "Добавить отчет", new_post_path %></span>
  </div>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>